<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZ0BUhQvvxZqHOZ1YeN2qfpH9psnp27LE</string>
	<key>GCM_SENDER_ID</key>
	<string>399843412995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ritplpro.flutterFirebaseapp</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-65852</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-65852.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399843412995:ios:c3e4491885853573f75236</string>
</dict>
</plist>